html {
  scroll-behavior: smooth;
}

body,
.btn,
.all_samples {
  font-family: "Manrope", sans-serif;
  width: 100%;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.container,
.services,
.bedroom__container,
.contacts__container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  padding-left: 145px;
  padding-right: 125px;
  font-weight: 400;
}

.nav__container {
  min-width: 1200px;
  padding-top: 31px;
  margin-bottom: 70.82px;
}

.link__logo {
  display: inline-block;
  padding-right: 547px;
}

.metrica__logo {
  display: block;
  width: 126.89px;
  height: 21.42px;
}

.nav__links {
  display: inline-block;
}

.nav__link,
.footer__link {
  padding-right: 60px;
  text-decoration: none;
  color: #121212;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.05em;
}

.nav__link:hover {
  color: #121212;
  opacity: 0.5;
  text-decoration: underline;
}

#projects_view,
#aboutus_view {
  scroll-margin-top: 15vh;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  width: 1000px;
  margin-bottom: 28px;
  letter-spacing: -0.03em;
}

.about {
  margin-bottom: 154px;
  width: 1150px;
  height: 500px;
  position: relative;
  background-image: url("../resources/inter.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-text {
  width: 430px;
  color: #ffffff;
  position: absolute;
  bottom: 40px;
  padding-left: 40px;
  font-size: 20px;
  line-height: 26.7px;
  letter-spacing: -0.03em;
}

h2 {
  font-size: 18px;
  margin-bottom: 34px;
  letter-spacing: -0.03em;
}

.project__sample {
  margin-bottom: 88px;
}

.description {
  margin-bottom: 30px;
  width: 1075px;
  font-size: 46px;
  line-height: 61px;
  letter-spacing: -0.039em;
}

.btn {
  margin-bottom: 153px;
  width: 255px;
  height: 67px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #ad1818;
  border: #ad1818;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: -0.03em;
}

.project__sample__inter {
  padding-bottom: 15px;
  width: 1150px;
  height: 450px;
}

.project__sample__descript,
.service__sample__descript,
.bedroom__descript {
  padding-bottom: 15px;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: -0.03em;
}

.project__sample__link {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #ad1818;
  text-decoration: none;
}

.all_samples {
  margin-bottom: 150px;
  height: 153px;
  width: 1150px;
  font-size: 30px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #ad1818;
  border-radius: 5px;
  border: 1px solid #ad1818;
  background-color: #ffffff;
  cursor: pointer;
}

.all_samples:hover {
  background-color: #ad1818;
  color: #ffffff;
}

.services,
.footer {
  padding-top: 0;
  background-color: #121212;
  color: #ffffff;
  padding-bottom: 152px;
}

.service__sample {
  margin-bottom: 58px;
}

.service__sample:nth-last-child(1) {
  margin-bottom: 0;
}

.services__text {
  padding-top: 155px;
  padding-bottom: 2px;
}

.service__sample__img {
  padding-bottom: 17px;
  width: 1151px;
}

.service__sample__descript {
  padding-bottom: 0;
}

.bedroom__container {
  height: 717px;
  background-image: url("../resources/bedroom.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bedroom__descript {
  position: absolute;
  bottom: 45px;
  width: 443px;
  color: #ffffff;
}

.contacts__container {
  height: 553px;
}

.contacts__text {
  padding-top: 150px;
  margin-bottom: 35px;
}

.contacts__text::before {
  content: "";
  display: block;
  background-image: url("../resources/outline__phone.svg");
  margin-bottom: 16px;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
}

.phone__number__contact__link,
.mail__contact__link {
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
  letter-spacing: -0.03em;
}

.mail__contact__link {
  padding-top: 30px;
  padding-bottom: 9px;
  opacity: 0.5;
  display: inline-block;
  position: relative;
  border: none;
  letter-spacing: -0.03em;
}

.mail__contact__link::after {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 0;
  width: 98%;
  height: 2px;
  background-color: #121212;
}

.footer {
  padding-bottom: 0px;
  min-width: 1450px;
}

.footer__links {
  padding-top: 60px;
  padding-bottom: 88px;
  margin: 0 auto;
  width: 472px;
}

.footer__link {
  display: inline-block;
  box-sizing: border-box;
  padding-right: 55px;
  color: #ffffff;
}

.footer__link:hover {
  opacity: 0.5;
}

.footer__link:nth-last-child(1) {
  padding-right: 0px;
}
.footer__aboutus {
  padding-bottom: 30px;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  opacity: 0.5;
  letter-spacing: -0.03em;
}
